@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
  background-color: royalblue;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 15px;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
  justify-items: center;
  padding: 40px;
  background-color: #f9f2ed;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.header-left h2 {
  font-size: 45px;
}
main {
  display: flex;
  margin-top: 30px;
  gap: 15px;
}
aside {
  width: 200px;
  background-color: #f9f2ed;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 150px;
  justify-content: space-evenly;
  margin-top: 15px;
}
.blogs-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.card {
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.card-top {
  display: flex;
  flex-direction: column;
}
.trns-btn {
  width: 85px;
  margin-top: 20px;
  margin-left: 15px;
}
.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.icon {
  display: flex;
  align-items: center;
}
